.list {
    background-color: grey;
    list-style: none;
    padding: 0;
    width: 400px;
}

.item {
    align-items: center;
    background-color: burlywood;
    display: flex;
    height: 100px;
    justify-content: center;
    margin: 5px 0;
    transition: all 0.5s ease;
    width: 100px;
}

.item_large {
    width: 200px;
    height: 200px;
}

.button {
    border: none;
    color: #fff;
    margin: 5px;
    outline: none;
    padding: 10px 15px;
}

.button_optimized {
    background-color: #5ab400;
}

.button_unoptimized {
    background-color: #ff0000;
}
